

body{
    margin: 0px;
    padding: 0px;
}


#navtop img{
   
width: 100%;
}

#navbar{
    /* border: 1px solid blue; */
    display: flex;
    height: 100px;
   margin-left: -15px;
}
#navbar img{
    width: 15%;
   
    height: 90px;
    margin-left: 70px;
    margin-top: 3px;
    border-radius: 50%;
    border: 1px solid #DD0285
}

#navbar>div:nth-child(4){
    border: 1px solid #DD0285;
    height: 32px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    color: white;
    background-color: #DD0285;
    

    /* margin: auto; */
}
.search{
    border: 1px solid black;
    /* width: 30px; */
    height: 30px;
    margin-top: 30px;

}
#selectcat{
    height: 34px;
    width: 205px;
}


  
#navbar>div:nth-child(5){
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 30px;
    border: 1px solid black;
    text-align: center;
    margin-top: 30px;
    margin-left: 290px;
    font-size: 20px;
}

#navbar>div:nth-child(6){
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border: 1px solid rgb(140, 135, 135);
    text-align: center;
    margin-top: 30px;
    margin-left: 20px;
    font-size: 20px;
}
#navbar>div:nth-child(7){
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-left: 5px;
    margin-bottom: 5px;
    /* margin-right: 10px; */
}

#navbar>div:nth-child(1){
    display: flex;
    /* border: 1px solid green; */
    width: 650px;
}

#p1{
    color: #DD0285;
    font-size: 27px;
    margin-left: 7px;
    /* margin-bottom: 1px; */
    /* border: 1px solid blueviolet; */
}
#p2{
    /* border: 1px solid red; */
   margin-top: -20px;
   font-size: 20px;
   margin-bottom: 20px;
   /* margin-right: -20px; */
   text-align: center;
}


#mid-nav{
 display: flex;
 /* justify-content: space-between; */
 background-color: #DD0285;
 /* justify-content: space-around; */
 /* border: 1px solid blue; */
 height: 40px;
 font-size: 25px;
 text-align: center;
 /* gap: 10px; */
 
}

#mid-nav>div{
  /* border: 2px solid black; */
  justify-content: space-around;
  margin-left: 5px;
  
}
#mid-nav>div:nth-child(9){
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    margin-top: 8px;
    color: white;
    border: #DD0285;
    background-color: #DD0285;
    /* border: 2px solid black; */
    /* justify-content: space-around; */
}

#but{
  background-color: #DD0285;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 17px;
}

#mid-nav>div>select{
    border: none;
    background-color: #DD0285;
    color: white;
    font-weight: bold;
    font-size: 15px;
}


/* ----------------------------------------------top banner style----------------------------------------------------- */
#top-banner{
    
    /* height: 20%; */
    box-sizing: border-box;  
    border: 1px solid rgb(210, 208, 208) ;
    display: flex;
    width: 80%;
    height: 480px;
    margin: auto;
    margin-top: 11px;

}

#top-banner>div{
   
        width:98%;
        height:100%;
        display: flex;
        margin: auto;
        justify-content: space-between;
        /* align-items: center; */
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        flex-direction: column;
}

#top-banner>div{
        transition: top 0.3s; 
        /* border: 2px solid greenyellow; */
        width: 25%;
        height: 85%;
        margin-left: 13px;
        margin-top: 6px;
        /* height: 100%; */
}



#top-banner>div>div{
   
        float: left;
        display: block;
        text-decoration: none;
        /* width: 45%; */
       /* border: 2px solid purple; */
        
}

#top-banner-p>div>button{
   
        background-color: white;
        color: #2f3337;
        border:0;
        height:100%;
        font-size: 14px;
   
}

#top-banner-p>div>button:hover{
    text-decoration-line: underline;
    color: black;
  font-weight: bold;
  cursor: pointer;
}

/* **************************    drop navbar styling  **********************************/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 65%;
    left: 10;
    z-index: 1;
  }

  #dropdown-makeup:hover .dropdown-content{
  
        display: block;
      
  }
  #dropdown-skin:hover .dropdown-content {
    display: block;
     position:fixed;
     margin: auto;
    left: 10%;
  }

  #dropdown-hair:hover .dropdown-content {
    display: block;
     position:fixed;
     margin: auto;
    left: 10%;
  }

  #dropdown-personal-care:hover .dropdown-content {
    display: block;
     position:fixed;
     margin: auto;
    left: 10%;
  }

  #dropdown-Mom-Baby:hover .dropdown-content {
    display: block;
     position:fixed;
     margin: auto;
    left: 10%;
  }

  #allcat{
    display: flex;
    gap: 12px;
    font-weight: bold;
  }

  .catimg{
    display: flex;
    gap: 5px;
 }

 .catimg>button{
    border: none;
    background-color: white;
    font-size: 16px;
 }
  /* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 22%;
    padding: 8px;
    background-color: white;
    height: auto;
    font-size: 14px;
    margin-right: 8px;
  }

  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    /* display: table-row; */
    clear: both;
  }

  #dropdown-hidden_ele{
    visibility: hidden;
   }


   #dropdown-makeup{
    /* border: 2px solid blueviolet; */
    margin-left: 0px;
   }

   #dropdown-skin{
    /* border: 2px solid rgb(27, 25, 18); */
    margin-left: 0px;
   }

   #top-banner-p{
    /* border: 2px solid peru; */
    display: flex;
    flex-direction: column;
    justify-content: left;
   }

   .catimg>button{
    padding: 7px;
    /* border: 1px solid red; */
   }

   #frag{
    margin-left: 4.7px;
   }

   #ayur{
    margin-left: 4.7px;
   }

   #midimg>div{
    width: 80%;
    border: 1px solid rgb(210, 208, 208);
   }

   #top-banner>div:nth-child(2)>img{
     /* border: 2px solid rgb(210, 208, 208); */
     /* width: 90%; */
     height: 100%;
   }

   #top-banner>div:nth-child(2){
    width: 90%;
    /* height: 100%; */
   }


   
   .column>option{
    font-size: 20px;
    color: gray;
   }


   /* --------------------------------BOTTOM NAVBAR Styling End---------------------------------- */


   /* ............................mid-banner(1). START.................................................... */


  #mid-banner-1{

    /* border: 2px solid blue; */
    width: 80%;
    height: 240px;
    margin: auto;
    margin-top: 11px;

}

#mid-banner-1>img{
  width: 100%;
}

/* ...........................................................mid-banner(2)...............................................................................  */


#mid-banner-2{
  /* border: 1px dashed darkblue; */
  display: flex;
  width: 80%;
  height: auto;
  margin: auto;
  margin-top: 11px;
  text-align: center;
}

#mid-banner-2>div>img{
  width: 100%;
}

#mid-banner-2>div{
  border: 1px solid rgb(210, 208, 208);
}

#mid-banner-2>div>p{
  width: 90%;
  align-items: center;
  text-align: center;
}

#mid-banner-2>div>button{
  color: white;
  background-color: #E74EAA;
  padding: 6px;
  margin-bottom: 15px;
}


/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<      mid-banner(3)        >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

#mid-banner-3{
  /* border: 1px solid rgb(210, 208, 208); */
  display: flex;
  width: 80%;
  height: 300px;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  justify-content: space-between;
  gap: 27px;
}

#mid-banner-3>div>img{
  /* border: 5px solid black; */
  width: 100%;
  margin-top: 10px;
 
}


/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<          mid-banner(4)           >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

#mid-banner-4{
  border: 1px solid rgb(210, 208, 208);
  display: flex;
  /* justify-content: space-between; */
  width: 80%;
  /* height: 100px; */
  margin: auto;
  margin-top: 10px;
 
}

#mid-banner-4>div{
 
  text-align: center;
  margin: auto;
  height: 100px;
  width: 100%;
  border: none;
  border: 1px solid rgb(210, 208, 208);
  
  /* justify-content: space-between; */
}

#mid-banner-4>div>img{
  margin-top: 5px;
}

#mid-banner-4>div:hover{
  background-color: #ef85c5;
  color: white;
  
}

#mid-banner-4>div>img{
  color: white;
}


/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<     mid-banner(5)    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

#mid-banner-5{
  /* border: 1px dashed darkblue; */
  display: flex;
  width: 80%;
  height: auto;
  margin: auto;
  margin-top: 11px;
  text-align: center;
}

#mid-banner-5>div>img{
  width: 100%;
}

#mid-banner-5>div{
  border: 1px solid rgb(210, 208, 208);
}

#mid-banner-5>div>p{
  width: 90%;
  align-items: center;
  text-align: center;
}

#mid-banner-5>div>button{
  color: white;
  background-color: #E74EAA;
  padding: 6px;
  margin-bottom: 15px;
}


/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<   mid-banner(6)    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

#mid-banner-6{

  /* border: 2px solid blue; */
  width: 80%;
  height: auto;
  margin: auto;
  margin-top: 17px;

}

#mid-banner-6>img{
width: 100%;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<    banner-last  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

#banner-last{
  /* border: 1px solid brown; */
  width: 80%;
  /* height: 300px; */
  height: auto;
  margin: auto;
  margin-top: 40px;
}

#banner-last>img{
width: 100%;
}


/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<     last-passage >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


#passage{
  width: 80%;
  margin: auto;
  /* border: 1px solid rgb(125, 50, 205); */
  height: 900px;
  text-align: left;
} 
 
#passage>#h1{
  font-size: 27px;
  color: gray;
}

b{
  color: rgb(66, 63, 63);
}


/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<  footer >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* -------------------------------- FOOTER Styling Start ------------------------------------- */
  /* Footer Top Styling */
  #footer-mid{
   height: 230px;
  margin-top: -152px;
  display: flex;
  justify-content: space-evenly;
  padding: 45px 25px;
  line-height: 15px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: #232323; */
  background-color: #232323;
  color: rgb(247, 242, 242);
   }

  #footer-mid>div{
    width:15%;
   
   }

  #footer-mid-hidden-ele{
   visibility: hidden;
  }

  #footer-mid-nykaa-logo{
  font-size: 20px;
  color: white;
  font-weight: bold;
  }

  #footer-mid-title{
  font-size: 15px;
  color: white;
  font-weight: bold;
  }

  #footer-mid>div>p:hover{
  cursor: pointer;
  color: #DD0285;
  }


  .sticky {
  position: fixed;
  top: 0;
  width: 100%;
  }


  #footer{
  padding-top: 173px;
  /* border: 3px solid brown; */
  /* height: 200px; */
  }

 /* -------------------------------- FOOTER-TOP Styling END ------------------------------------- */
                              
/* -------------------------------- FOOTER-BOTTOM Styling Start ------------------------------------- */
  #footer-bottom{
  border: 1px solid rgb(109, 107, 107);
  background-color: black;
  height: 30px;
  text-align: center;
  color: rgb(185, 176, 176);
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
   }


#footer-bottom>div{
  text-align: center;
  margin-top: 8px;
}

  .fntp{
    color: #DD0285;
  }

  #fb{
    display: flex;
    gap: 10px;
    
  }

  #fb>div{
    border: 1px solid wheat;
    size: 52px;
    height: 20px;
    width: 20px;
    text-align: center;
    justify-content: center;
    /* align-items: center; */
    padding: 7px;
    border-radius: 45%;
    font-size: 16px;
    background-color: #DD0285;
    border: none;
    
  }
/* .............................................footer-img.......................................................................... */
 #footerimg{
  display: flex;
  margin: auto;
  background-color: #232323;
  /* text-align: center;
  align-items: center;
  justify-content: center; */
 }

 #footerimg>div:nth-child(1){
  margin-left: 140px;
 }
 #footchild{
  display: flex;
  margin-left: 440px;
  gap: 18px;
 }
  
 #footchild>div:nth-child(1){
  /* border: 2px solid blue; */
  margin-left: -180px;
  font-size: 18px;
  font-weight: bold;
  align-items: center;
  margin-top: 5px;
  padding: 15px;
  color: white;
 
 }

 #footchil{
  display: flex;
  /* border: 1px solid rgb(185, 183, 181); */
  
 }


 #footchild>#footchil{
  /* border: 1px solid peru; */
  width: 370px;
  height: 50px;
  border: none;
 }
 
 #footchild>#footchil>div>input{
 height: 89%;

 width: 250px;
 font-size: 18px;
 text-align: center;
 }
 
 #footchild>#footchil>div>button{
background-color: #DD0285;
/* height: auto; */
border: none;
width: 113px;
height: 100%;
}



/* -------------------------------- FOOTER-BOTTOM Styling End ------------------------------------- */


/* ????????????????????????????????????????? dropdown ki alg se property ?????????????????????????????????????????????????????????????????????? */

 #DD{
  /* border: 4px solid purple; */
   border: 2px solid grey;
  position: fixed;
  margin-left: 15%;
  height: 350px;
  margin-top: -40px;
 }
 #DD2{
  position: relative;
   /* border: 3px solid black; */
  margin-left: 150px;
  /* border: 2px solid grey; */
  position: fixed;
  margin-left: 15%;
  height: 350px;
  margin-top: -40px;
 }

 #dropdown-skin>#DD2{
  border: 1px solid grey;
  /* border: 3px solid black; */
  margin-left: 15%;
  height: 350px;
  margin-top: -40px;
 }

 #dropdown-hair>#DD3{
  border: 1px solid grey;
  /* border: 3px solid black; */
  margin-left: 15%;
  height: 350px;
  margin-top: -40px;
 }

 #dropdown-personal-care>#DD4{
  border: 1px solid grey;
  /* border: 3px solid black; */
  margin-left: 15%;
  height: 350px;
  margin-top: -40px;

 }

 #dropdown-Mom-Baby>#DD5{
  border: 1px solid grey;
  /* border: 3px solid black; */
  margin-left: 15%;
  height: 350px;
  margin-top: -40px;
 }

 /* ?????????????????????????????????????? dropdown ki property yha pe finish hogyi ?????????????????????????????????????????????????????? */


 /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<  for fav button >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

 
 
 .divfav{
  /* border: 1px solid darkgreen; */
  display: flex;
  align-items: center;
  margin: auto;
  width: 40%;
  justify-content: space-between;
  margin-bottom: 8px;
 }
 
 .div2Fav{
  height: 100%;
  /* border: 1px solid darkred; */
  padding: 5px;
  color: white;
  background-color: #2f3337;
 }

 .div2Fav:hover{
  color: #f6b9de;
 }

 .div2Fav:hover{
  cursor: pointer;
 }
 .btnAddtOfAV{
  padding: 7px;
  color: white;
  background-color: #DD0285;
  border: none;
 }
 .btnAddtOfAV{
  cursor: pointer;
 }
 .btnAddtOfAV:hover{
  color: #f6b9de;
 }
/* ......................................................................................................................... */

.div4fav{
  /* border: 1px solid darkgreen; */
  display: flex;
  align-items: center;
  margin: auto;
  width: 40%;
  justify-content: space-between;
  margin-bottom: 8px;

 }

 .div3Fav{
  height: 100%;
  /* border: 1px solid darkred; */
  padding: 5px;
  color: white;
  background-color: #2f3337;
 }

 .div3Fav{
  cursor: pointer;
 }

 .div3Fav:hover{
  color: #f6b9de;
 }

 .btnAddtOfAV1{
  padding: 7px;
  color: white;
  background-color: #DD0285;
  border: none;
 }
 .btnAddtOfAV1{
  cursor: pointer;
 }

 .btnAddtOfAV1:hover{
  color: #f6b9de;
 }

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<   for fav page   >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
 

  #myfav:hover{
    
    color: white;
    background-color: #DD0285;
  }


  #myfav{
    cursor: pointer;
  }
  #fovcontainer{
    /* border: 1px solid darkblue; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* width: 50%; */
    margin: auto;
    /* justify-content: space-around; */
    justify-content: space-between;
    gap:30px;
    align-items: center;
    text-align: center;
  }

  #fovcontainer>div{
    /* border: 2px solid green; */
    width: 100%;
    height: 100%;
    margin-bottom: 7px;
    /* justify-content: space-between; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }

  #fovcontainer>div>img{
    width: 100%;
  }

  #h1wish{
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    border: 2px solid palevioletred;
    margin-bottom: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: #f6b9de;
  }

  #h1wish:hover{
    color: #fb0599;
  }





 /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<       for mycart page       >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

 

 #but:hover{
  cursor: pointer;
  background-color: #fb0599;
 }

 #cartProducts_Div>div{
  /* border: 14px solid blue; */
  /* border: 2px solid green; */
  /* width: 100%; */
  /* height: 100%; */
  margin-bottom: 7px;
  /* justify-content: space-between; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
 }

 #cartProducts_Div{
  border: 1px solid darkblue;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  /* width: 50%; */
  margin: auto;
  /* justify-content: space-around; */
  justify-content: space-between;
  gap:30px;
  align-items: center;
  text-align: center;
 
}

#cartProducts_Div>img{
  width: 100%;
}

#carth1{
  text-align: center;
  /* border: 1px solid #C60277; */
}

#cartspan{
  border: 1px solid blue;
  background: #ef85c5;
  margin-bottom: 15px;
}

/* .................................................................................................................................... */
.userButton{
  position: relative;
}
#regislogin{
  /* position: fixed; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 80px;
  margin-left: 90%;
  margin-top: 80px;
  padding: 10px;
  position: absolute;
  background-color: #fff;
}
.registerActive{
  display: block;
}
.registerDeactive{
  display: none;
}

.userButton:hover{
  cursor: pointer;
  background-color: #DD0285;
  color: white;
}

#regis:hover{
  cursor: pointer;
  color: #DD0285;
}

#log{
  cursor: pointer;
  color: #DD0285;
}
/* #regislogin { z-index: 99 !important; } */








/* #cartProducts_Div{
  border: 1px solid darkblue;
  display: grid;
  grid-template-columns: repeat(4,1fr); */
  /* width: 50%; */
  /* margin: auto; */
  /* justify-content: space-around; */
  /* justify-content: space-between; */
  /* gap:30px; */
  /* align-items: center;/ */
  /* text-align: center; */
 
/* } */
/*  */